* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: #dddbd1;
    font-family: 'Open Sans', sans-serif;
}

/* barra verde dietro */
.barra_retro_top {
    width: 100%;
    height: 150px;
    background-color: #2cbda5;
    position: fixed;
    z-index: 2;
}


/* app */
.container_app {
    z-index: 3;
    width: 90%;
    height: 95%;
    margin: auto;
    display: flex;

}

/* parte sinistra della app chat */
.app_left {
    width: 30%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-right: 2px solid lightgrey;
}

/* barra top della parte sinistra di chat */
.app_left_top {
    width: 100%;
    height: 80px;
    background-color: #ededed;
    display: flex;
    justify-content: space-between;
}

#img_profilo {
    width: 15%;
    align-self: center;
    margin-left: 10px;
}

.icone {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.cerchio, .messaggio, .puntini {
    align-self: center;
    padding-left: 20px;
    color: grey;
    font-size: 20px;
}

.puntini, .puntini2 {
    padding-right: 10px;
}
/* parte di chat a sinistra */
.app_left_chat_contatti {
    width: 100%;
    display: flex;
}

/* contatti singoli in chat e nogtifica azzurra */
.notifica_chat {
    width: 100%;
    height: 80px;
    background-color: #8edafc;
    display: flex;
}

/* icona notifica su sfon do azzurro */
.notifica {
    color: #8edafc;
    font-size: 30px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50px;
    align-self: center;
    margin-left: 20px;
}
/* messaggio accanto all'icona di notifica */
.msg_notifiche {
    font-size: 14px;
    margin-top: 20px;
    margin-left: 15px;
    line-height: 16px;
}
/* sub titolo sottolineato */
.sub_msg {
    color: grey;
    text-decoration: underline;
}

/* barra di ricerca utenti */
.barra_search {
    width: 100%;
    height: 50px;
    background-color: #fafafa;
    display: flex;
    justify-content: center;
}

.barra_search_lens {
    border: none;
    align-self: center;
    height: 80%;
    width: 90%;
    border-radius: 5px;
    background-color: #fff;
    display: flex;

}

.lens {
    align-self: center;
    color:lightgrey;
    margin-left: 20px;
}

.input_cerca {
    border: none;
    align-self: center;
    height: 80%;
    width:100%;
    border-radius: 2px;
    margin-left: 30px;
}

/* inizio barre di chat contetti */

.contatto_chat {
    width: 100%;
    height: 80px;
    background-color: #fff;
    border-bottom: 1px solid lightgrey;
    display: flex;
    justify-content: flex-start;
}

.foto_profilo {
    width: 20%;
    display: flex;

}
.nome {
font-weight: lighter;

}

.anteprima_msg {
    color:lightgrey;
    font-weight: lighter;
}

.profilo_1 {
    width: 70px;
    align-self: center;
    margin-left: 10px;
}

.nome_profilo{
    width: 70%;

}
.ora {
    width: 10%;
    display: flex;

}

.orario_msg {
    margin-top: 20px;
    color:lightgrey;
    font-weight: lighter;
}




/* parte destra della app chat */
.app_right {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.app_right_top {
    width: 100%;
    height: 80px;
    background-color: #ededed;
    display:flex;
    justify-content: space-between;
}

.app_right_top_Profilo {


    align-self: center;
    justify-content: flex-start;
}

.img_profilo_chat {
    width: 60px;
    align-self: center;
    margin-left: 10px;

}

.nome_profilo, .accesso {
    align-self: center;
    margin-left: 10px;

}

.icone_right {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.lente, .clips, .puntini2 {
    align-self: center;
    padding-left: 20px;
    color: grey;
    font-size: 20px;
}

.app_sfondo {
    width: 100%;
    height: calc(100% - 160px);
    background-image: url("../img/sfondo.png");
    background-size: auto;
}

.app_right_barraInput {
    width: 100%;
    height: 80px;
    background-color: #ededed;
    display: flex;
    padding: 0 40px;
    justify-content: space-between;
}

.smile {
    font-size: 25px;
    color: grey;
    align-self: center;
}

#barra_text {
    width: 90%;
    height: 70%;
    border-radius: 5px;
    border: none;
    align-self: center;
    padding-left: 10px;
}

.send {font-size: 25px;
color: grey;
align-self: center;
}
